<div class="container">
    <h4>Add LOCATION</h4>

    <div class="row add-location">
        <div class="col s12 m6 l6">
            <div class="row">
                <form [formGroup]="locationForm" (ngSubmit)="addLocation()" class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" type="text" formControlName="name" class="validate">
                            <label for="name">Name</label>
                            <div *ngIf="locationForm.get('name').touched && !locationForm.get('name').valid">
                                <span *ngIf="locationForm.get('name').hasError('required')" class="err-msg">
                                    It is a required field
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <textarea class="materialize-textarea" formControlName="description">
                            </textarea>
                            <label for="name">Description</label>
                            <div *ngIf="locationForm.get('description').touched && !locationForm.get('description').valid">
                                <span *ngIf="locationForm.get('description').hasError('required')" class="err-msg">
                                    It is a required field
                                </span>
                            </div>
                        </div>
                    </div>

                    <button class="btn waves-effect waves-light">ADD
                        <i class="material-icons right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="rstore container">
    <h4>LOCATIONS INFO</h4>
    <div class="row location-info">
        <div class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let location of locations;let i = index">
                        <td scope="row">{{ i + 1 }}</td>
                        <td>{{ location.name }}</td>
                        <td>{{ location.description }}</td>
                        <td>{{ location.created_at }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>